div.header {
    display: flex;
    align-items: center;
    margin: 30px;
}

div.header div {
    display: flex;
}

div.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.logo img {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 250px;
}

div.header-buttons {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin: 0;
    padding: 0;
}

div.header-buttons button {
    padding: 5px;
}
