@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  color: #fff;
  background: #5b5a75;
  font-family: 'Varela Round', sans-serif;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #9998b3;
}

:root {
  --toastify-color-success: #3e7447;
  --toastify-color-error: #692c2c;
  --toastify-color-warning: #bc8309;
}